.ele-pages-main-wrapper {
    padding: 30px 15px 30px 10px; }

.ele-welcome-section {
  text-align: center;
  padding: 8px;
  background: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(17, 23, 34, 0.2);
  border-radius: 6px; }

.ele-welcome-title {
  font-size: 35px;
  font-weight: 700;
  color: #041137;
  margin-bottom: 25px;
  line-height: 1; }

.ele-welcome-description {
  font-size: 16px;
  color: #727272;
  color: #041137; }
  @media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .ele-welcome-description br {
      display: none; } }

.ele-pages-content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px; }
  @media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .ele-pages-content {
      grid-template-columns: 3fr 2fr; } }
  @media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .ele-pages-content {
      grid-template-columns: 3fr; } }

.ele-pages-left-sidebar {
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(17, 23, 34, 0.2);
  padding: 30px; }
  @media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .ele-pages-left-sidebar {
      margin-bottom: 30px; } }

.ele-pages-right-sidebar {
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(17, 23, 34, 0.2);
  padding: 30px; }

.ele-pages-left-content-inner-btn {
  margin-top: 15px; }
  .ele-pages-left-content-inner-btn a {
    display: inline-block;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 1px 1px 0px rgba(17, 23, 34, 0.2);
    border: 1px solid rgba(17, 23, 34, 0.2);
    padding: 15px 20px;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    color: #111722;
    transition: 0.3s; }
    .ele-pages-left-content-inner-btn a:hover {
      background: #3B67FE;
      color: #FFF; }

.ele-pages-left-content-inner-video {
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px; }

.ele-pages-left-content-inner-title h3 {
  font-size: 28px;
  font-weight: 700;
  color: #111722;
  line-height: 1;
  margin-top: 0; }

.ele-pages-left-content-inner-description p {
  font-size: 16px;
  color: #4D4E50;
  line-height: 26px; }

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .ele-pages-right-content-inner {
    display: grid;
    grid-template-columns: 2fr 2fr;
    row-gap: 30px;
    column-gap: 30px; } }

.ele-pages-right-content-inner-btn {
  margin-top: 15px; }
  .ele-pages-right-content-inner-btn a {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #111722; }

.ele-pages-right-content-inner-item {
  padding: 20px;
  border: 1px solid #E1E6F4;
  border-radius: 6px;
  margin-bottom: 30px; }
  @media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
    .ele-pages-right-content-inner-item {
      margin-bottom: 0; } }
  .ele-pages-right-content-inner-item:last-child {
    margin-bottom: 0; }

.ele-pages-right-content-inner-title {
  display: flex; }
  .ele-pages-right-content-inner-title h3 {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 8px;
    color: #111722; }
